.styling-icon {
  font-size: 30px;
  margin: 10px;
  margin-top: 0px;
}
.styling-icon1 {
  font-size: 30px;
  margin: 10px;
  margin-top: 0px;
  color: #ffffff;
}
.link-item {
  text-decoration: none;
}

.icons-container {
  width: 300px;
  height: 300px;
  display: flex;
  margin: 0px;
}
.red-color {
  color: red;
}
.black-color {
  color: black;
}
